@page
@model MyPedatricMD.Pages.Pages_AboutUs
@{
    ViewData["Title"] = "About Us";
}
<div class="pt-5 about pb-5">
    <div class="col-12 col-md-3 offset-md-4">
        <h2>Who We Are</h2>
        <p>
            MD Pediatric Center in Oak Lawn, Illinois, is a pediatric office that offers various pediatric services for children of all ages. No matter what your child's condition is, we check them and make
            sure they are given the right treatment and medication. With more than 30 years of experience, we are fully capable of tending to the needs of our patients to provide them with the care they
            deserve.
        </p>
    </div>
    <p class="fw-bold text-center pt-4">
        Contact our seasoned staff at our pediatric office in
        <a href="http://mypediatricmd.com/Pediatric-Clinic-Location-Oak-Lawn-IL.html" target="_self">Oak Lawn, Illinois</a> to
        <a href="http://mypediatricmd.com/Pediatric-Clinic-Appointment-Request-Oak-Lawn-IL.html" target="_self">set an appointment</a>
        for your child's health.
    </p>
</div>

<div class="pt-5">
    <h1 class="text-center">We Are A Pediatric Medical Home</h1>
    <div class="row gap-1 offset-md-4">
        <div class="col-12 col-lg-3">
            <h2>Medical Homes Make a Difference</h2>
            <p>
                Our Patient-Centered Medical Home tailors health care to meet your needs while using evidence-based guidelines.
                We don't just treat illness- we work with yu to achieve and maintain wellness. We're also here to coordinate and
                provide optimal access to the care you need when you need it whether through an in-person visit or online via our patient health portal.
            </p>
            <h2 style="text-align: left;">Coordinated Care</h2>
            <p style="text-align: left;">Your health care team will coordinate your care with the other elements of the health system. This includes subspecialty care, hospitals, home health, nursing homes, and any public or private community services that may benefit you.</p>
            <h2 style="text-align: left;">Communication is Key</h2>
            <p style="text-align: left;">You can easily reach your care team for anything you need regarding your care, either by calling our office directly or 24/7 online through our patient health portal from the comfort of your home.</p>
        </div>

        <div class="col-12 col-lg-3">
            <h2>Our Team Starts with You</h2>
            <span>You will be an active participant in your health care team. Through shared decision making, we will achieve your optimal health and wellness. Your role on the team includes the following items:</span>
            <ul class="tasks pt-2">
                <li>
                    Bring concerns and questions to discuss with your care team.
                </li>
                <li>
                    Provide a list of all your medications, including supplements you buy in the store.
                </li>
                <li>
                    Call us before going to the Emergency Room (ER) or let us know as soon as possible that you have been to the ER or urgent care.
                </li>
                <li>
                    When you go elsewhere for care, such as a specialist office, or are seen out of town, please request that your care information be sent to our office.
                </li>
                <li>
                    Be Informed and Involved in Your Health Care Decisions.
                </li>
            </ul>




        </div>
    </div>


</div>