@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <p style="overflow-wrap: break-word; font-size: 60pt; font-weight: bold; hyphens: auto; text-align: center; display: flex; justify-content: center;">
        <a href="@Url.Content("~/pdf/2023_Medicaid_Renewal_Flyer_IL_FINAL_1_.pdf")" target="_blank">
            <span style="font-size: 36pt;">MEDICAID RE-ENROLLEMENT</span>
            </a>
            </p>
    <p style="text-align: left;">
        <span style="font-size: 18pt;">
            <strong><span style="color: #000000; text-decoration: none solid #333333;">Frequently Asked Questions (Click link below)</span></strong>
        </span>
    </p>
    <p style="text-align: left;"><span style="font-size: 14pt;"><a href="https://www.healthychildren.org/English/tips-tools/ask-the-pediatrician/Pages/Are-there-shortages-of-infant-formula-due-to-COVID-19.aspx?_ga=2.12219252.1973131723.1652712197-862215164.1652712197&amp;_gl=1*zn4iz4*_ga*ODYyMjE1MTY0LjE2NTI3MTIxOTc.*_ga_FD9D3XZVQ" target="_blank">Formula Shortage</a></span></p>
    <p>
        <a href="https://www.healthychildren.org/English/tips-tools/ask-the-pediatrician/Pages/Are-there-shortages-of-infant-formula-due-to-COVID-19.aspx?_ga=2.12219252.1973131723.1652712197-862215164.1652712197&amp;_gl=1*zn4iz4*_ga*ODYyMjE1MTY0LjE2NTI3MTIxOTc.*_ga_FD9D3XZVQ"
           target="_blank"></a>
    </p>
    <table cellpadding="5" cellspacing="5" style="width: 100%; margin-left: auto; margin-right: auto;">
        <tbody>
            <tr>
                <td>
                    <img width="2000" title="Giving The Best Pediatric Services for Your Child" style="display: block; margin-left: auto; margin-right: auto;" assetid="114620978" src="/matrix/servlet/ShowAsset;jsessionid=D4DC84C60D52F247E067AEEAB7C00C1E?id=114620978"
                         wspext="{&quot;aid&quot;:&quot;114620978&quot;}" height="500" border="0" alt="Giving The Best Pediatric Services for Your Child" selectedfileurl="files/114620978.png" mce_src="/matrix/servlet/ShowAsset;jsessionid=2660CE8824519991D3D77BE293EA964C?id=114620978&amp;_dt=1461370668131" />
                </td>
            </tr>
        </tbody>
    </table>
    <table cellpadding="0" width="100%" cellspacing="0">
        <tbody>
            <tr>
                <td align="center">
                    <div class="section rsp_content Content-3Column-Image">
                        <h1><span style="color: #06296b; text-decoration: none;">Compassionate Pediatric Office</span></h1>
                        <table cellpadding="0" width="100%" cellspacing="0" class="columns">
                            <tbody>
                                <tr align="center">
                                    <td width="33%" valign="top">
                                        <table cellpadding="0" width="100%" cellspacing="0" height="100%">
                                            <tbody>
                                                <tr align="center">
                                                    <td valign="top">
                                                        <p>
                                                            Trust MD Pediatric Center to check on your child's health through our essential <span style="color: #125ece;"><a data-bt-pidname="Pediatrics" target="_self" href="pid:16213867" style="color: #125ece;">pediatric services</a></span>.
                                                            With your child's best interests at heart, we provide vaccinations, physical activities, and care for minor injuries. Set an appointment now to have your child checked at the best possible time.
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr align="center">
                                                    <td valign="bottom"><span style="background-color: #005ed2; color: #ffffff;"><a data-bt-pidname="Pediatrics" target="_self" href="pid:16213867" class="buttonInverted" style="background-color: #005ed2; color: #ffffff;">Pediatrics</a></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="33%" valign="top">
                                        <table cellpadding="0" width="100%" cellspacing="0" height="100%">
                                            <tbody>
                                                <tr align="center">
                                                    <td valign="top">
                                                        <p>Visit our dedicated pediatric clinic today in Oak Lawn, Illinois, to get the services your child needs to be healthy.<br />We are located&nbsp;at the junction of 95th street and Kostner.</p>
                                                    </td>
                                                </tr>
                                                <tr align="center">
                                                    <td valign="bottom"><span style="background-color: #005ed2; color: #ffffff;"><a data-bt-pidname="Location" target="_self" href="pid:16213870" class="buttonInverted" style="background-color: #005ed2; color: #ffffff;">Location</a></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table cellpadding="0" width="100%" cellspacing="0">
        <tbody>
            <tr>
                <td align="center">
                    <table cellpadding="0" width="100%" cellspacing="0" style="background-color: rgba(255, 255, 255, 0);" class="rsp_kvOverlayBG">
                        <tbody>
                            <tr align="center">
                                <td width="100%">
                                    <div class="section rsp_content Content-2Column-Image">
                                        <div class="off-box" style="background-color: rgba(255, 255, 255, 0);">
                                            <table cellpadding="0" width="100%" cellspacing="0" class="columns">
                                                <tbody>
                                                    <tr align="center">
                                                        <td width="50%" valign="top">
                                                            <p>
                                                                <img width="450" title="Healow App 1" assetid="127792297" src="/matrix/servlet/ShowAsset;jsessionid=D4DC84C60D52F247E067AEEAB7C00C1E?id=127792297" wspext="{&quot;aid&quot;:&quot;127792297&quot;}"
                                                                     height="247" border="0" alt="Healow App 1" selectedfileurl="files/127792297.png" mce_src="/matrix/servlet/ShowAsset;jsessionid=71EB0772791A1A68C4C1E15C5E4E6D05?id=127792297&amp;_dt=1525444732814" />
                                                            </p>
                                                            <p></p>
                                                        </td>
                                                        <td width="50%" valign="top">
                                                            <img width="450" title="Healow App 2" assetid="127792296" src="/matrix/servlet/ShowAsset;jsessionid=D4DC84C60D52F247E067AEEAB7C00C1E?id=127792296" wspext="{&quot;aid&quot;:&quot;127792296&quot;}" height="320"
                                                                 border="0" alt="Healow App 2" selectedfileurl="files/127792296.png" mce_src="/matrix/servlet/ShowAsset;jsessionid=71EB0772791A1A68C4C1E15C5E4E6D05?id=127792296&amp;_dt=1525444745778" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p></p>
                                            <table cellpadding="5" cellspacing="5" style="width: 100%;">
                                                <tbody>
                                                    <tr></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
