@page
@model MyPedatricMD.Pages.PatientEduModel
@{
}


<img class="img-fluid w-100" title="Patient Education" src="@Url.Content("~/images/mypedmkv5.png")" alt="Patient Education" />


<h1 class="text-center">Patient Education</h1>
<div class="d-flex gap-5 justify-content-center">
    <div class="flex-column d-flex">
        <a target="_blank" href="ufid:101692144" style="color: #128ae1;">Anticipatory Guidance for age 2-4 Weeks</a>
        <a target="_blank" href="ufid:101692141" style="color: #128ae1;">Anticipatory Guidance for age 2 Months</a>
        <a target="_blank" href="ufid:101692150" style="color: #128ae1;">Anticipatory Guidance for age 4 Months</a>
        <a target="_blank" href="ufid:101692152" style="color: #128ae1;">Anticipatory Guidance for age 6 Months</a>
        <a target="_blank" href="ufid:116780845" style="color: #128ae1;">Anticipatory Guidance for age 9 Months</a>
    </div>

    <div class="flex-column d-flex">
        <a target="_blank" href="ufid:101692154" style="color: #128ae1;">Anticipatory Guidance for age 12 Months</a>
        <a target="_blank" href="ufid:101692157" style="color: #128ae1;">Anticipatory Guidance for age 15 Months</a>
        <a target="_blank" href="ufid:101692159" style="color: #128ae1;">Anticipatory Guidance for age 18 Months</a>
        <a target="_blank" href="ufid:101692161" style="color: #128ae1;">Anticipatory Guidance for age 24 Months</a>
        <a target="_blank" href="ufid:125583884" style="color: #128ae1;">Nutrition, Physical Activity, and Screen Time</a>
    </div>
</div>



<p class="fs-1 fw-bold text-center">Nutrition and Diet</p>
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
        <a href="ufid:138810254" target="_blank">Fast Food Calories</a>
        <a href="ufid:138810242" target="_blank">Low Cholesterol Diet</a>
        <a href="ufid:138810244" target="_blank">Portion Control</a>
        <a href="ufid:138810248" target="_blank">Types of Fat</a>
    </div>
</div>

<h1 class="text-center">Giving Iron Rich Food to Children to Prevent Anemia</h1>
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
        <a href="ufid:138900834" target="_blank">Iron for your children</a>
        <a href="ufid:138900835" target="_blank">Iron for your children Page 2</a>
        <a href="ufid:138810244" target="_blank"></a>
    </div>
</div>


<div class="rsp_content section Content-1Column-Text">
    <div class="off-box" style="background-color: rgba(255, 255, 255, 0);">
        <h2 style="text-align: left;">COVID-19 Recommendations</h2>
        <ul>
            <li style="text-align: left;">
                You don't need a COVID-19 test at this time. If you don't have symptoms or a likelihood that you've been exposed to the virus,
                we don't recommend getting a COVID-19 test. Regardless of our recommendation, testing is not available at our office.
                There are government testing centers you can go to.
            </li>
            <li style="text-align: left;">To help slow the spread of COVID-19, please practice social isolation. This means avoiding large groups and staying home when possible, even if you aren't feeling sick.</li>
            <li style="text-align: left;">Take preventive measures.</p>

        </ul>

        <h2 style="text-align: left;">To avoid being exposed to the virus and to help prevent illness, the CDC recommends the following:</h2>
        <ul>
            <li style="text-align: left;">Avoid close contact with people who are sick.</li>
            <li style="text-align: left;">Avoid touching your eyes, nose, and mouth.</li>
            <li style="text-align: left;">Stay home when you are sick.</li>
            <li style="text-align: left;">Cover your cough or sneeze with a tissue, then throw the tissue in the trash.</li>
            <li style="text-align: left;">Clean and disinfect frequently touched objects and surfaces using a regular household cleaning spray or wipe.</li>
            <li style="text-align: left;">Wash your hands often with soap and water for at least 20 seconds, especially after going to the bathroom and before eating; after coughing, sneezing, or blowing your nose.</li>
            <li style="text-align: left;">If soap and water are not available, use an alcohol-based hand sanitizer with at least 60% alcohol.</li>
            <li style="text-align: left;">The CDC does not recommend that people who are not sick wear a face mask to protect themselves from respiratory diseases, including COVID-19. 
                Face masks should be used by people who show symptoms of COVID-19 to help prevent the spread of the disease to others. 
                The use of face masks is critical for health workers and people who are taking care of someone in close settings (at home or in a health care facility).</li>
            <li style="text-align: left;">If you're living with or in close proximity to a person with COVID-19, 
                the CDC recommends closely monitoring your health; you should call your primary care provider right away if you develop symptoms that suggestive of COVID-19 (e.g., fever, cough, shortness of breath). 
                We also strongly recommend that you follow CDC recommendations <a href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/guidance-prevent-spread.html" target="_blank">here</a>.</li>
            <li style="text-align: left;">At the end of the information, you will see how to find the testing center near you.</li>
        </ul>
        

        <h2 style="text-align: left;"><a href="https://www.hioscar.com/covid19" target="_blank">At-home risk assessment survey</a>, also launched this week</h2>
        <h6>Here's a step-by-step look at the consumer journey to coronavirus planning and care using Oscar's full-stack tech platform and advanced clinical capabilities:</h6>
        <ul>
            <li style="text-align: left;">1. Take Oscar's risk assessment survey: The clinically-validated tool assesses your risk of contracting COVID-19 to develop your personalized care guide.</li>
            <li style="text-align: left;">
                2. Find a testing center: If your assessment includes a recommendation to get tested, you'll be taken directly to the testing center locator to find a center and get instructions for your visit,
                including the importance of calling ahead to understand center-specific requirements. Oscar is waiving cost-sharing for testing for all members.
            </li>
            <li style="text-align: left;">
                3. Follow your assessment recommendations: If you're not recommended for testing, you can still take action.
                Your personalized guide includes recommendations on how you can reduce your risk of contracting coronavirus based on factors like your location and age, and whether or not you have any chronic conditions.
            </li>
        </ul>
        
        
        <h2 style="text-align: left;">Where to get a COVID-19 test?</h2>
        <h6 style="text-align: left;">Enter your zip code to find out the nearest COVID-19 test site. <a href="https://findahealthcenter.hrsa.gov/" target="_blank">https://findahealthcenter.hrsa.gov/&nbsp;</a></h6>
        <ul>
            <li style="text-align: left;">1. Go to clinics instead of large crowded facilities.</li>
            <li style="text-align: left;">2. Fees: Testing and Treatments are free.</li>
        </ul>
        <p style="text-align: left;">If confirmed, home isolation for 14 days, please help stop spreading COVID-19.</p>
    </div>
</div>
