@page
@model MyPedatricMD.Pages.PedatricsModel
@{

}

<img class="img-fluid w-100" title="Giving The Best Pediatric Services for Your Child" src="@Url.Content("~/images/mypedmkv2.png")" alt="Giving The Best Pediatric Services for Your Child"/>


<div class="container pt-5">
    <h1>Patient-Focused Pediatric Services & Child Vaccinations</h1>
    <p>MD Pediatric Center in Oak Lawn, Illinois, offers compassionate pediatric services for children ranging in ages as young as newborn to 17 years old. Get your child on the road to a healthy life with our help.</p>
    <div class="d-flex gap-5 pb-5">
            <img title="" src="//assets.myregisteredsite.com/images/builder//119677/2221471.jpeg" alt="" />
        <div class="align-items-center">
            <h2>Patient-Focused</h2>
            <p>
                Our friendly and courteous staff will always be there to prioritize your needs in a timely and professional manner. We have two separate waiting areas that you and your kids can use: one for sick visits,
                the other for well visits. Moreover, you don't have to worry about the medical costs - we accept all major insurances. We have no upfront fees so you don&rsquo;t have to be concerned about additional
                costs.
            </p>
        </div>

    </div>
    <div class="d-flex">
        <div class="">
            <h2>Services</h2>
            <p>
                MD Pediatric Center provides child vaccinations and well-child checkups that focus on making your child healthy and immune from various diseases. We help make your kids get active by offering ideas for all
                types of physical activities for school and sports. We also care for minor injuries.
            </p>
            <h2>Appointments</h2>
            <p>If you want to have your child checked by our pediatric doctors, please set an appointment with us so we can prioritize you. You can also set a same-day appointment, especially for emergencies.</p>
        </div>


        <img title="Child Getting Checkup" src="//assets.myregisteredsite.com/images/builder//119677/2221469.jpeg" alt="Child Getting Checkup" />
    </div>
    

    <p class="fw-bold text-center">Contact us today in Oak Lawn, Illinois, for effective pediatric services and child vaccinations.</p>
</div>
