@page
@model MyPedatricMD.Pages.Pages_Providers
@{
    ViewData["Title"] = "Providers";
}
<div class="text-center pt-5">
    <div class="pb-5">
        <img class="img-fluid" title="Dr. Sawlani" src="@Url.Content("~/images/DrSawlani.jpg")" alt="Dr. Sawlani" />
        <h4>Sawlani, MD</h4>
    </div>

    <div>
        <img class="img-fluid" title="Dr Saini" src="@Url.Content("~/images/NpSaini.jpg")" alt="Dr Saini" />
        <h4>Saini, NP</h4>
        <p>
            Ruchi Saini is a Board-Certified Pediatrics Primary Care Nurse Practitioner and a graduate of the University of Illinois nurse practitioner program.
            She began her career in health care in India in 2004 after graduating from medical school.
            In addition to her extensive clinical experience, Ruchi also has an
            outstanding academic background that includes a bachelors
            degree in Medicine and Surgery from India&nbsp;and Master degree in Biochemistry and
            Molecular Genetics from Georgia State University.
            Ruchi is passionate about uncovering the root cause of illness in children and believes that if given
            the right environment and tools body can heal with&nbsp;its innate ability. She believes in building relationships not only with patients but also with parents and
            understanding their health needs to accomplish their best possible state of health.
        </p>
    </div>

</div>
