@page
@model MyPedatricMD.Pages.RequestAppointmentsModel
@{
}
<div class="container">
    <div class="text-center">
        <h1> Request an Appointment</h1>
        <p>Choosing the right pediatrician for your child is easy when you turn to us. We are honored to be your choice for excellent medical service that caters to your needs.</p>
        <p>*Please do not include any confidential or medical information. This email is not intended to be used for medical advice.*</p>
    </div>



    <div class="row">
        <div class="col-12 col-md-6">
            <p>
                We look forward to hearing from you. Contact us by phone, email, or the form today!
            </p>
            <p>
                <span class="fs-4">Hours of Operation:</span>
                <div class="d-flex flex-column gap-2 pb-2">
                    <span>Monday: 9:00 a.m. - 6:00 p.m </span>
                    <span>Tuesday: 9:00 a.m. - 6:00 p.m </span>
                    <span>Wednesday: 9:00 a.m. - 6:00 p.m</span>
                    <span>Thursday: 9:00 a.m. - 6:00 p.m</span>
                    <span>Friday: 9:00 a.m. - 6:00 p.m</span>
                    <span>Saturday: 9:30 a.m. - 2:00 p.m </span>
                    <span>Sunday: Closed </span>
                </div>
                Customer Contact Hours:
                24 Hours a Day, 7 Days a Week by Phone

            </p>
            <p>
                <span class="fs-4">Contact Us:</span>
                <div class="d-flex flex-column gap-2">
                    <span class="fs-5">Phone:</span> 
                    <span>(708) 425-2880</span>
                    <span class="fs-5">Fax:</span>
                    <span>(708) 425-0609</span>
                    <span class="fs-5">Email:</span> <a href="mailto:MDPediatrics@yahoo.com" target="_self">MDPediatrics@yahoo.com</a>
                </div>



        </div>

        <div class="col-12 col-md-6 text-center">
            <p style="text-align: center;"></p>
            <p style="text-align: center;">Dr. Sawlani:</p>
            <p>
                <img title="Dr. Sawlani" src="@Url.Content("~/images/DrSawlani.jpg")" alt="Dr. Sawlani" />
            </p>
            <p style="text-align: center;">
                <a style="font-size: 14.6667px;" href="https://healow.com/apps/practice/advocate-rolling-meadows-il-11534?v=1" class="healow_oa_schedule" target="_blank">
                    <font color="#333333"> <img src="https://healow.com/apps/jsp/webview/openaccess/widgets/img/book-appt.png" alt="Book" style="border: 0;" /> </font>
                </a>
            </p>
            <p>
                <script type="mce-mce-mce-mce-mce-text/javascript" webcom_res="https://healow.com/apps/practice/advocate-rolling-meadows-il-11534?v=2&amp;t=1 "></script>
            </p>
            <script type="mce-mce-mce-mce-mce-text/javascript" webcom_res="https://healow.com/apps/jsp/webview/openaccess/widgets/oaWidget.js.jsp"></script>
            <p><span style="font-size: 24pt; color: #000000; text-decoration: none solid #333333;"><a rel="noopener noreferre" style="color: #000000;" href="https://mycw71.ecwcloud.com/portal9314/jsp/100mp/login_otp.jsp" target="_blank">Patient Portal</a></span></p>
            <p>Introducing You to TeleVisits</p>
            <iframe width="560" height="315" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/videoseries?list=PL6Y7gFhb66yFGRMoqyyXViqUWj9hIb8KR"
                    frameborder="0" title="YouTube video player"></iframe>
            <p>
                We are proud to announce that our office now offers you the opportunity to use the power of the web to improve all aspects of your healthcare. With TeleVisits, you are able to communicate with our practice easily, safely,
                and securely over the internet.
            </p>
            <p></p>
        </div>


    </div>
</div>

