<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyPedatricMD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/style/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyPedatricMD.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
    <div class="header">
                <div class="d-flex justify-content-evenly pt-5">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <a href="../pdf/md-logo.png" target="_self"></a>
                        <img width="650" title="MD Pediatric Center Logo" src="@Url.Content("~/images/md-logo.png")" height="92" border="0" alt="MD Pediatric Center Logo" />

                    </div>
                    <div class="col-12 col-lg-3">
                        <div>
                            <span>(708) 425-2880</span>
                            <span>4400 W 95th Street, Suite 104</span>
                        </div>
                        <div>
                            <div>
                                <span>Oak Lawn, IL 60453</span>
                            </div>
                            <div>
                                <a style="color: #999999;" href="https://mycw71.ecwcloud.com/portal9314/jsp/100mp/login.jsp" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                </div>

                  </div>
                  <div class="text-center fw-bold p-3">Office Hours: Monday - Friday from 9:00 am to 6:00 pm</div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm t bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">MyPedatricMD</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <table style="width: 100%; text-align: center;">
        <tbody>
            <tr>
                <td>
                    <p>
                        Share this page
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MyPedatricMD - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>    
        <div>
            All right reserved Michael Sawlani
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>