<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyPedatricMD</title>

    <link rel="stylesheet" href="~/style/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/style/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyPedatricMD.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/style//aboutus.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css"/>
</head>
<body>
    <header>
        <div class="header">
            <div class="d-flex justify-content-evenly pt-5">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <a href="../pdf/md-logo.png" target="_self"></a>
                        <img class="img-fluid" width="650" title="MD Pediatric Center Logo" src="@Url.Content("~/images/md-logo.png")" height="92" border="0" alt="MD Pediatric Center Logo" />

                    </div>
                    <div class="col-12 col-lg-3">
                        <div>
                            <span>(708) 425-2880</span>
                            <span>4400 W 95th Street, Suite 104</span>
                        </div>
                        <div>
                            <div>
                                <span>Oak Lawn, IL 60453</span>
                            </div>
                            <div>
                                <a href="https://mycw71.ecwcloud.com/portal9314/jsp/100mp/login.jsp" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-center fw-bold p-3">Office Hours: Monday - Friday from 9:00 am to 6:00 pm</div>
        </div>

        <nav class="navbar navbar-expand-md box-shadow">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars text-white"></i>
                </button>
                <div class="navbar-collapse collapse justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Providers">Providers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/RequestAppointments">Request An Appointment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Pediatrics">Pediatrics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Education">Patient Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Insurances">Insurances Accepted</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Location">Location</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

        <div class="overflow-hidden">
            @RenderBody()
        </div>


    <footer class="footerLayout py-5 mt-5">
        <div class="container">            
            &copy; 2023 - Michael Sawlani - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>