body {
    .footerLayout {
        background-color: #06296b;
        color: white;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .navbar {
        background-color: #06296b;
    }

    .navbar a {
        color: white;
    }
}
